
body {
    font-family: sans-serif;
  	margin-top: 80px;
    padding: 30px;
	background-color: #1E243E;
    color: white;
}

header {
    background-color: #434E7B;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    align-items: center;
    padding: 10px;
    box-shadow: 0 0 25px 0 black;
    float: left;
}

header * {
	display: flex;
    flex: 0 0 auto;
}
header li:hover {
	background-color: #2C3053;
}
header li a {
	text-decoration: none;
	color: white;
    padding: 10px;
    font-size: 15px;
}

li:nth-child(1) {
    margin-right: auto;
}
.user {
    margin-left: auto;
}

.startaction {
	margin: auto;

    text-align: center;
}
.startaction h1 {
	display: inline-block;
	color: white;
	font-size: 50px;
	padding-top: 50px;
}

.startaction input[type=submit] {
	background-color: #434E7B;
    height: 100px;
    width: 200px;
    color: white;
    display: inline-block;
}

a {
    text-decoration: none;
    color: yellow;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #1E274A;
    width: 40%;
    margin-bottom: 2px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.75);
}

/* Add some padding inside the card container */
.container {
    padding: 3px 16px;
    display: flex;
    /*flex-direction: column;*/
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.duedate, .timeneeded, .timespent, .timerem, .timeremsec{
    padding: 0px;
    margin: 0px;
}

.taskname {
    background-color: #434E7B;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.25);
}

.timeremsec, .timerem {
    /*display: inline;    */
}